<header class="header" role="banner">
    <div class="header__navigation-head">
        {% if header.navigationHead.logo %}
            <div class"header__navigation-head__logo">
                {% if header.navigationHead.logo.href %}
                    <a class="header__navigation-head__logo-link">
                        <img src="./././img/logo.svg" alt="logo">
                    </a>
                {% else %}
                <div class="header__logo header__logo--active">
                    <img src="./././img/logo.svg" alt="logo">
                </div>
                 {% endif %}
            </div>
                
        {% endif %}
        <ul class="header__navigation-head__list">
            {% for item in header.navigationHead.items %}
                <li class="header__navigation-head__item">
                    <a href="{{ item.href }}" class="header__navigation-head__item-link{% if not item.href or item.active %} is-active{% endif %}">{{ item.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="header__navigation-menu">
        <div class="header__navigation-menu__left">

            <div class="header__navigation-menu__burger">
                {% view '@burger' %}
            </div>

            <div class="header__navigation-menu-action">
                <div class="header__navigation-menu__user-block">
                    <div class="header__navigation-menu__user-nav">
                        <ul class="header__navigation-menu__user-list">
                            <li class="header__navigation-menu-item"{% if header.navigationMenu.item.attr %}{{ header.navigationMenu.item.attr }}{% endif %}>
                                {% if header.navigationMenu.search %}
                                    <button type="button" class="header__navigation-menu-item"{% if header.navigationMenu.attr %}{{ header.navigationMenu.attr }}{% endif %}>
                                        {% if header.navigationMenu.search.icon %}
                                            {% view '@icon' with {
                                                icon: header.navigationMenu.search.icon
                                            } %}
                                        {% else %}
                                            {% view '@icon' with {
                                                icon: {
                                                    name: "32/loop",
                                                    size: "32"
                                                }
                                            } %}
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </li>

                            <li class="header__navigation-menu-item"{% if header.navigationMenu.item.attr %}{{ header.navigationMenu.item.attr }}{% endif %}>
                                {% if header.navigationMenu.profile %}
                                    <button type="button" class="header__navigation-menu-item"{% if header.navigationMenu.attr %}{{ header.navigationMenu.attr }}{% endif %}>
                                        {% if header.navigationMenu.icon %}
                                            {% view '@icon' with {
                                                icon: header.navigationMenu.profile.icon
                                            } %}
                                        {% else %}
                                            {% view '@icon' with {
                                                icon: {
                                                    name: "32/profile",
                                                    size: "32"
                                                }
                                            } %}
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </li>
                        
                            <li class="header__navigation-menu-item"{% if header.navigationMenu.item.attr %}{{ header.navigationMenu.item.attr }}{% endif %}>
                                {% if header.navigationMenu.timetable %}
                                    <button type="button" class="header__navigation-menu-item"{% if header.navigationMenu.attr %}{{ header.navigationMenu.attr }}{% endif %}>
                                        {% if header.navigationMenu.icon %}
                                            {% view '@icon' with {
                                                icon: header.navigationMenu.timetable.icon
                                            } %}
                                        {% else %}
                                            {% view '@icon' with {
                                                icon: {
                                                    name: "32/timetable",
                                                    size: "32"
                                                }
                                            } %}
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </li>
                        </ul>             
                    </div>     
                </div>
                <div class="header__navigation-menu__service-block">
                    <div class="header__navigation-menu__service-nav">
                        <ul class="header__service-nav__list">
                            <li class="header__service-nav__items">
                                {% if header.navigationMenu.eye %}
                                    <button type="button" class="header__service-nav-item"{% if header.navigationMenu.attr %}{{ header.navigationMenu.attr }}{% endif %}>
                                        {% if header.navigationMenu.icon %}
                                            {% view '@icon' with {
                                                icon: header.navigationMenu.eye.icon
                                            } %}
                                        {% else %}
                                            {% view '@icon' with {
                                                icon: {
                                                    name: "32/eye",
                                                    size: "32"
                                                }
                                            } %}
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </li>
                           
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header__navigation-menu__main"></div>
    </div>
</header>
